body {
    background-color: #ced10f6c;
    text-align: center;
    max-width: 450px;
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    color: var(--2nd-main-color);
}

button {
    background-color: rgba(196, 146, 146, 0.685);
    outline: none;
}
h2 {
    margin-bottom: 30px;
}
.btn {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
input {
    width: 100%;
    padding: 5px 14px;
    border: 2px solid #201f1d;
    margin-bottom: 10px;
    background-color: rgba(24, 145, 175, 0.74);
    outline: none;
    color: #f0690ff1;
    font-size: 25px;
}
input:focus {
    border: 2px solid rgba(0, 0, 0, 0.555);
    background-color: rgba(233, 141, 22, 0.349);
}

form {
    background-color: #fff;
    padding: 20px;
    color: #000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

form p {
    margin-bottom: 15px;
}

form p:nth-child(1){
    margin-top: 0;
}

.panel {
    margin-top: 20px;
    float: none;
}
@media (min-width: 768px) {
    .panel {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .panel {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}